<div>
  Hover for more info

  {{#tooltip-on-element event="click" hideOn="none"}}
    <p>You can select this text</p>
    <p><a href="http://google.com" target="_blank">You can click this this link</a></p>
    <p><a onclick={{action "click"}}>You can invoke an action</a></p>
  {{/tooltip-on-element}}
</div>

